/* General styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

h6 {
  color: white;
  font-size: 1.2rem;
  font-weight: semi bold;
  text-align: center;
  margin-bottom: 2rem;
}

/* Form styles */
.form {
  max-width: 750px;
  margin: 0 auto;
  padding: 2rem;
  background-color: rgb(7, 23, 53);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

.slds-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.slds-col {
  justify-content: space-between;
  padding: 10PX;
  flex-basis: 48%;
}


label {
  color: white;
  display: block;
  font-size: 1rem;
  font-weight: semi bold;
  margin-bottom: 5px;
  padding-left: 3px;
}
.input-icon {
  position: absolute;
  margin: 0.9rem 0.7rem;
}
.input-element {
  width: 100%;
  background-color: white;
  padding: 0.5rem 0rem 0.5rem 2rem;
  display: inline;
  font-size: 15px;
}
.noicon-input-element{
  width: 100%;
  padding: 0.8rem 0rem 0.9rem 0.3rem;
  font-size: 15px;
  border-radius: 6px;
}

/* Button styles */
.button {
  text-align: center;
  margin-top: 2rem;
}

button {
  background-color: white;
  color:black;
  font-size: 1.2rem;
  font-weight: medium;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: rgb(50, 168, 170);
  border: 1px solid #000;
}

/* Already have an account link styles */
.Already-have-account {
  text-align: center;
  margin-top: 2rem;
}

.Already-have-account a {
  color: #ffffff;
  text-decoration: none;
}

.Already-have-account a:hover {
  text-decoration: underline;
}