.Footer { 
    align-items:center; 
    display:flex; 
    justify-content:center; 
}
.Footer .Link {
     padding:10px; 
}
.title{
    font-weight: bold;
    font-size: small; 
    color : white;
 }
.Footer .Link img { 
    width:32px;
 }